/*Navigation Bar */

* {
  margin: 0 auto;
  padding: 0 auto;
}

body {
  margin-bottom: 10%;
  background-color: white;
  margin-top: 50px;
}

/*This is really important!!!*/

.jumptarget::before {
  content:"";
  display:block;
  height: 65px; /* fixed header height*/
  margin:-65px 0 0; /* negative fixed header height */
}

/*This is really important!!!*/

.navbar {
  margin-left: 100px;
}

.navbar font {
  font-size: 1;
}

.navbarmarginleft {
  margin-left: 50px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #174DC9;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  box-shadow: 0px 5px 30px grey;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  font-size: 28px;
  padding: 16px 16px;
  text-decoration: none;
}

.navbar li a:hover:not(.active) {
  background-color: Navy;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 28px;
  border: none;
  outline: none;
  color: white;
  padding: 16px 16px;
  background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: Navy;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #174DC9;
  min-width: 155px;
  box-shadow: 0px 5px 30px grey;
}

.dropdown-content a {
  float: none;
  color: White;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: Navy;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Navigation Bar end */

.cont {
  padding: 80px 200px 80px 200px;

}

.cont img {
  max-width: 40%;
  max-height: 150px;
  border: 3px solid;
}


.contact-form {
  background-color: rgba(220,220,220, 0.2);
  margin-top: 100px;
}

.contact-form input {
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid blue;
  margin-bottom: 10px;
}

.contact-form textarea {
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid blue;
  font-style:italic;
}

.contact-form button textarea {
  margin: 6px 5px 10px 0px;
}
